<div class="top-row ps-3 navbar navbar-dark" style=" height:auto">
    <img src="/ARU.Logo.png" alt="ARU Logo" />
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <img style="height:20px; width:20px;" src="/Home.Button.jpg" aria-hidden="true" /> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddClass">
                <img style="height:20px; width:20px;" src="/Calendar.Button.jpg" aria-hidden="true" /> Add
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EditDeleteClass">
                <img style ="height:20px; width:20px;" src="/Edit.Button.jpg" aria-hidden="true" /> Edit / Delete
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
