@page "/AddClass"
@inject HttpClient Http

<PageTitle>Add Class</PageTitle>

<h1>Add Class</h1>

<form>
    <label for="fname"> Course Name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Teachers Name:</label><br>
    <input type="text" id="lname" name="lname">
    <label for="lname">Module Name:</label><br>
    <input type="text" id="lname" name="lname">
    <label for="lname">Day of The Week:</label><br>
    <input type="text" id="lname" name="lname">
    <label for="lname">Room Number:</label><br>
    <input type="text" id="lname" name="lname">
    <label for="lname">Module Number:</label><br>
    <input type="text" id="lname" name="lname">
</form>

<body>
    <button class="AddButton">Add</button>
</body>

@code {

}
