@page "/EditDeleteClass"
@inject HttpClient Http

<PageTitle>Edit / Delete Classes </PageTitle>

<h1>Edit & Delete Classes</h1>


<form>
    <label for="fname"> Course Name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Teachers Name:</label><br>
    <input type="text" id="lname" name="lname">
    <label for="lname">Module Name:</label><br>
    <input type="text" id="lname" name="lname">
    <label for="lname">Day of The Week:</label><br>
    <input type="text" id="lname" name="lname">
    <label for="lname">Room Number:</label><br>
    <input type="text" id="lname" name="lname">
    <label for="lname">Module Number:</label><br>
    <input type="text" id="lname" name="lname">
</form>
